:root {
    --white: #ffffff;
    --alto: #dddddd;
    --silver: #cccccc;
    --silver_chalice: #aaaaaa;
    --gray: #808080;
    --emperor: #555555;
    --tundora: #454545;
    --mine_shaft: #232323;
    --active_elem: #1871ac;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 30rem;
    height: 100%;
    margin: 0;
    padding: 0;
}

html *, body * {
    font-family: inherit;
}

.ict-range {
    background: var(--tundora);
    color: var(--white);
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.ict-header {
    flex: 0 0 auto;
}

.ict-header h1 {
    text-align: center;
    margin: 0.3rem;
}

.ict-subHeader h2 {
    width: 100%;
    text-align: center;
    margin: 0.3rem;
}

.ict-subHeader {
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-style: solid;
    border-width: 0.1rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;
}

.ict-subHeaderItem {
    flex: 45%;
    font-size: 1.2rem;
}

.ict-subHeaderItem input {
    border-style: none;
    border-color: var(--mine_shaft);
    background: transparent;
    color: var(--white);
    border-bottom-style: solid;
    font-size: inherit;
}

.ict-subHeaderItem input:read-only {
    border-style: none;
    background: transparent;
    color: var(--white);
    font-size: inherit;
}

.ict-subHeaderItem input:read-only:focus {
    outline:none;
}

.ict-menu {
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-style: solid;
    border-width: 0.1rem 0rem 0.1rem 0rem;
}

select {
    appearance: none;
    background-color: var(--tundora);
    color: var(--white);
    border: none;
    display: inline-block;
    font: inherit;
    padding: 0.5rem 3.5rem 0.5rem 1rem;  
    background-image:
        linear-gradient(45deg, transparent 50%, var(--gray) 50%),
        linear-gradient(135deg, var(--gray) 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1rem + 2px),
        calc(100% - 15px) calc(1rem + 2px),
        calc(100% - 2.5rem) 0.5rem;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

button {
    padding: 0.5rem 1rem 0.5rem 0rem;
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    border: none;
}

button:hover {
    color: var(--silver_chalice);
}

button:disabled {
    color: var(--gray);
    cursor: not-allowed;
}

button:disabled>.file_upload_label {
    cursor: not-allowed;
}

.ict-content {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

.ict-codingSpace {
    flex-basis: auto;
    width: 50%;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ict-wrapper {
    height: 100%;
    overflow-y: scroll;
}

.ict-editor {
    width: 100%;
    height: 99%;
    display: inline-flex;
    font-family: monospace;
    line-height: 1.3rem;
    background: var(--mine_shaft);
}

.mine_shaft-background {
    background: var(--mine_shaft);
}

.white-background {
    background: var(--white);
}

.ict-lineNumbers {
    min-width: 1.5rem;
    text-align: right;
    position: sticky;
    left: 0;
    padding-right: 1rem;
    background: var(--mine_shaft);
}

.ict-lineNumbers span {
    counter-increment: linenumber;
}

.ict-lineNumbers span:before {
    content: counter(linenumber);
    display: block;
    color: var(--alto);
}

.ict-code {
    width: 100%;
    line-height: 1.3rem;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0;
    border: 0;
    background: var(--mine_shaft);
    color: var(--white);
    outline: none;
    resize: none
}

.ict-previewSpace {
    flex-basis: auto;
    width: 50%;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ict-display {
    width: 100%;
    height: 100%;
}

.ict-display svg {
    width: 100%;
    height: 100%;
}

/* Custom Scrollbar */
.ict-previewSpace::-webkit-scrollbar,
.ict-code::-webkit-scrollbar,
.ict-wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.ict-previewSpace::-webkit-scrollbar-track,
.ict-code::-webkit-scrollbar-track,
.ict-wrapper::-webkit-scrollbar-track {
    background: transparent; 
}
 
.ict-previewSpace::-webkit-scrollbar-thumb,
.ict-code::-webkit-scrollbar-thumb,
.ict-wrapper::-webkit-scrollbar-thumb {
    background: var(--gray); 
    border-radius: 1rem;
}
  
.ict-previewSpace::-webkit-scrollbar-thumb:hover,
.ict-code::-webkit-scrollbar-thumb:hover,
.ict-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--emperor);
}

.file_uploader {
    display: none;
}

.file_upload_label {
    cursor: pointer;
}

.float-right {
    float: right;
}

.ict-switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.8rem;
    margin-right: 0.5rem;
  }
  
.ict-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.ict-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--silver);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1.8rem;
}
  
.ict-slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.2rem;
    bottom: 0.16rem;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.ict-box {
    width: 98%;
    padding: 0 0.5rem 0 0.5rem;
}

.ict-box>h2 {
    display: flex;
    align-items: center;
}

.ict-box>h2:after {
    content: '';
    border-top: 0.15rem solid;
    margin: 0 1rem 0 1rem;
    flex: 1 0;
}
  
input:checked + .ict-slider {
    background-color: var(--mine_shaft);
}

input:checked + .ict-slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

.ict-number_container {
    display: flex;
    align-items: center;
}

.ict-number_container>button {
    padding: 0.25rem 0.4rem;
    background-color: var(--mine_shaft);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--white);
    min-width: 1.5rem;
}

.increase_button {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.decrease_button {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.ict-number_container>input {
    width: 2rem;
    padding: 0.25rem;
    text-align: right;
    font-size: 1rem;
    border: none;
    background-color: var(--mine_shaft);
    color: var(--white);
}

.bigger_width {
    width: 2.5rem !important;
}

.ict-numbers::-webkit-outer-spin-button,
.ict-numbers::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ict-numbers:focus {
    outline: none;
}

.ict-option_items {
    display: flex;
    flex-direction: column;
}

.ict-option_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    max-width: 18rem;
    min-width: 13rem;
}

.ict-text_input {
    border-style: none;
    border-color: var(--mine_shaft);
    background: transparent;
    color: var(--white);
    border-bottom-style: solid;
    font-size: inherit;
}
  
.ict-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.ict-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    color: var(--white);
    background-color: var(--tundora);
    border-radius: 0.5rem;
}

.ict-modal-header {
    padding: 0.2rem 1rem;
}

.ict-modal-body {
    padding: 0.2rem 1rem;
    border-style: solid;
    border-width: 0.1rem 0rem 0.1rem 0rem;
}
  
.ict-modal-footer {
    padding: 0.2rem 1rem;
    overflow: auto;
}
  
.ict-close {
    color: var(--white);
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
  
.ict-close:hover,
.ict-close:focus {
    color: var(--silver_chalice);
    text-decoration: none;
    cursor: pointer;
}

.ict-modal-save {
    float: right;
}

@media (max-width: 800px) {
    .ict-subHeader {
        flex-direction: column;
    }
    .ict-subHeaderItem {
        flex: 100%;
        font-size: 1rem;
    }
    .float-right {
        float: none;
    }
}